FORMAT: 1A
HOST: http://private-4358a-quickcoffee.apiary-mock.com

# quick-coffee

API заказа и оплаты кофе, напитков и других продуктов.

# Group  Клиентское API

## Места продажи [/supplier/places]

### Список [GET]

+ Response 200 (application/json)

[
  {
    "placeid": 2,
    "address": "ул. Богдана Титомира 1",
    "latitude": 55.76844400,
    "longitude": 37.65074300,
    "Supplier": {
      "supplierid": 1,
      "name": "Кофе - это средний род",
      "description": "Кофе, пончики",
      "sitelink": "http://localhost"
    }
  },
  {
    "placeid": 3,
    "address": "ул. Покрышкина 15",
    "latitude": 55.76841400,
    "longitude": 37.65071300,
    "Supplier": {
      "supplierid": 1,
      "name": "Кофе - это средний род",
      "description": "Кофе, пончики",
      "sitelink": "http://localhost"
    }
  }
]

+ Response 500 (application/json)

{
  "message": "Непредвиденная ошибка"
}
        
## Близлежащие места проджи [/supplier/places?latitude={latitude}&longitude={longitude}&radius={radius}]
+ Parameters
    + latitude: `55.7684` (number, required) - широта центра карты
    + longitude: `37.6507` (number, required) - долгота центра карты
    + radius: `2000` (number, required) - радиус охвата в метрах
    
### Список [GET]

+ Response 200 (application/json)

[
  {
    "placeid": 2,
    "address": "ул. Богдана Титомира 1",
    "latitude": 55.76844400,
    "longitude": 37.65074300,
    "Supplier": {
      "supplierid": 1,
      "name": "Кофе - это средний род",
      "description": "Кофе, пончики",
      "sitelink": "http://localhost"
    }
  },
  {
    "placeid": 3,
    "address": "ул. Покрышкина 15",
    "latitude": 55.76841400,
    "longitude": 37.65071300,
    "Supplier": {
      "supplierid": 1,
      "name": "Кофе - это средний род",
      "description": "Кофе, пончики",
      "sitelink": "http://localhost"
    }
  }
]

+ Response 500 (application/json)

{
  "message": "Непредвиденная ошибка"
}

## Меню заведения [/supplier/places/{id}/menu]

### Список [GET]

+ Response 200 (application/json)

[
  {
    "id": 3,
    "name": "БигМак",
    "description": "Всё на булочке с кунжутом",
    "price": 100.0
  },
  {
    "id": 4,
    "name": "Кофий",
    "description": "Первосортный растворимый кофеёк",
    "price": 99.9900
  },
  {
    "id": 5,
    "name": "Шаурма",
    "description": "Курица в лаваше",
    "price": 150.5000
  }
]
        
+ Response 500 (application/json)

{
  "message": "Непредвиденная ошибка"
}

+ Response 500 (application/json)

{
  "message": "Данной точки не существует"
}
      
        
## Оформить заказ [/supplier/places/{id}/order]        
+ Parameters
    + id: `1` (number, required) - идентификатор заведения
    
### Заказ [POST]

+ Request (application/json)


        {
            "serveDate" : "2015-08-05T09:40:51.620Z",
            "order" : [
                {
                    "id"    : 2,
                    "name"  : "Капучино",
                    "price" : 100.50
                },
                {
                    "id"    : 2,
                    "name"  : "Капучино",
                    "price" : 100.50
                },
                {
                    "id"    : 3,
                    "name"  : "Сэндвич с курицей",
                    "price" : 200.00
                }
            ]
        }

+ Response 201 (application/json)

    + Headers

            Location: /supplier/places/{id}/order/1

    + Body

            {
                "id"        : 1,
                "orderDate" : "2015-08-05T08:40:51.620Z",
                "ticket"    : "12FA4",
                "total"     : 400.10
            }
